*keysym.Home: \033[7~
*keysym.End: \033[8~

!COLOR SCHEME
*.colorUL:  #E45E5E
!
!   COLORS
!
! Black + DarkGrey
*.color0:  #383C4A
*.color8:  #2F343F
! DarkRed + Red
*.color1:  #E45E5E
*.color9:  #E45E5E
! DarkGreen + Green
*.color2:  #4084D6
*.color10: #4084D6
!>10=prompt
! DarkYellow + Yellow
*.color3:  #FFBF00
*.color11: #E45E5E
! DarkBlue + Blue
*.color4:  #003791
*.color12: #4084D6
!!>12=prompt path
! DarkMagenta + Magenta
*.color5:  #686d79
*.color13: #4084D6
! DarkCyan + Cyan
*.color6:  #686d79
*.color14: #686d79
! LightGrey + White
*.color7:  #D3DAE3
*.color15: #D3DAE3
